:root {
  --color-11191f: #11191f;
  --color-f6eb16: #f6eb16;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* NavBar starts */

.header-upper {
  background-color: var(--color-11191f);
}

.search-button {
  background-color: var(--color-f6eb16);
  border-style: solid;
  border-color: var(--color-f6eb16);
}

.left-icons {
  color: white;
  font-size: 2rem;
  padding-right: 20px;
}

.right-icons {
  color: white;
  font-size: 2rem;
}

.shopping-cart {
  color: var(--color-f6eb16);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

/* NavBar ends */

/* body starts */
.carousel-inner {
  bottom: 40px;
}

.small-displays {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.carousel-indicators {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.carousel-indicators li {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.carousel-indicators li.active {
  background-color: #fff;
  height: 5px;
}

.input-group {
  position: relative;
}

.search-dropdown {
  position: absolute;
  top: 124px;
  left: 0;
  z-index: 1;
  margin-left: 20px;
  margin-top: 5px;
  width: 85%;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.search-dropdown .search-suggestions {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  padding-left: 10px;
}

/* body ends */

@media (max-width: 576px) {
  .small-displays {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .navbar-text {
    font-size: 0.8rem;
    width: 120px;
  }

  .cart-value {
    font-size: 0.8rem;
  }

  /* .small-displays {
    width: 300px;
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
  }

  .small-displays img {
    width: 300px;
    height: 280px;
    object-fit: cover;
    object-position: center;
  } */
}

@media (min-width: 768px) {
  .left-icons {
    display: none;
  }

  .search-dropdown {
    position: absolute;
    top: 65px;
    left: 150px;
    z-index: 1;
    margin-left: 13px;
    margin-top: 5px;
    width: 32%;
  }

  .badge {
    margin-bottom: 30px;
    font-size: 0.7rem;
    margin-left: -17px;
    vertical-align: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 100;
    border-style: solid;
    border-color: black;
  }

  .cart-details {
    margin-left: -10px;
  }
}

@media (min-width: 1024px) {
  .small-displays {
    width: 300px;
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
  }

  .small-displays img {
    width: 300px;
    height: 280px;
    object-fit: cover;
    object-position: center;
  }

  .search-dropdown {
    width: 44%;
  }
}

@media (min-width: 1200px) {
  .search-dropdown {
    width: 55%;
  }
}

@media (min-width: 1920px) {
  .search-dropdown {
    width: 55%;
  }
}
